button:hover{
    transform: scale(1.1);
}

/*rotate() Girar Elemento: CSS*/

img{
    max-width: 200px;
}

img:hover{
    max-width: 200px;
    transform: rotate(15deg);
}
/*Translate()Mover elemento: CSS*/

.carde:hover{
    transform: translateY(-10px);
}

/*skew() Inclinar elemento: CSS*/

div{
    transform: skew(10deg);
}

