* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  padding: 40px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
}

button {
  padding: 12px 16px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #1d4ed8;
}

#contador {
  margin-bottom: 15px;
  font-weight: bold;
}

li {
  list-style: none;
  background: #f1f5f9;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarefa-texto {
  cursor: pointer;
}

.concluida {
  text-decoration: line-through;
  color: gray;
}

.excluir {
  background: #dc2626;
}

.excluir:hover {
  background: #b91c1c;
}
